{% set NETWORK = properties["name"] | default(env["project"]) + "-net" %}

resources:

- type: compute.v1.network
  name: {{ NETWORK }}
  properties:
    autoCreateSubnetworks: false

{% for subnet in properties["subnets"] %}
- type: compute.v1.subnetwork
  name: {{ subnet.name }}-sn
  properties:
    network: $(ref.{{ NETWORK }}.selfLink)
    ipCidrRange: {{ subnet.range }}
    region: {{ subnet.region }}
    privateIpGoogleAccess: {{ subnet.privateIpGoogleAccess }}
    {% if subnet.secondaryIpRanges %}
    secondaryIpRanges:
      {% for ipRange in subnet.secondaryIpRanges %}
      - rangeName: {{ ipRange.name }}
        ipCidrRange: {{ ipRange.range }}
      {% endfor %}
    {% endif %}
{% endfor %}