{% set NETWORK = properties["name"] | default(env["project"]) + "-net" %}

resources:

- type: compute.v1.network
  name: {{ NETWORK }}
  properties:
    autoCreateSubnetworks: false

{% for subnet in properties["subnets"] %}
- type: compute.v1.subnetwork
  name: {{ subnet.name }}-sn
  properties:
    network: $(ref.{{ NETWORK }}.selfLink)
    ipCidrRange: {{ subnet.range }}
    region: {{ subnet.region }}
    privateIpGoogleAccess: {{ subnet.privateIpGoogleAccess }}
    {% if subnet.secondaryIpRanges %}
    secondaryIpRanges:
      {% for ipRange in subnet.secondaryIpRanges %}
      - rangeName: {{ ipRange.name }}
        ipCidrRange: {{ ipRange.range }}
      {% endfor %}
    {% endif %}
{% endfor %}

{% if properties["google-managed-services-range"] %}
- name: google-managed-services-{{ NETWORK }}
  type: compute.v1.globalAddresses
  properties:
    name: google-managed-services-{{ NETWORK }}
    address: {{ properties["google-managed-services-range"].split("/")[0] }}
    prefixLength: {{ properties["google-managed-services-range"].split("/")[1] }}
    addressType: INTERNAL
    purpose: VPC_PEERING
    network: $(ref.{{ NETWORK }}.selfLink)
    description: >
      Address range reserved for Google Managed Services.
      https://cloud.google.com/vpc/docs/configure-private-services-access
{% endif %}