resources:

- name: {{ properties['name'] }}-sa
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: {{ properties['name'] }}
    displayName: {{ properties['description'] }}

{% for key in properties['keys'] %}
- name: {{ properties['name'] }}-sa-{{ key }}-key
  type: gcp-types/iam-v1:projects.serviceAccounts.keys
  properties:
    parent: $(ref.{{ properties['name'] }}-sa.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE
{% endfor %}

outputs:

- name: email
  value: $(ref.{{ properties['name'] }}-sa.email)

{% for key in properties['keys'] %}
- name: {{ key }}-rest-key
  value: |
    {
      "name": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.name)",
      "privateKeyType": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.privateKeyType)",
      "privateKeyData": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.privateKeyData)",
      "validAfterTime": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.validAfterTime)",
      "validBeforeTime": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.validBeforeTime)",
      "keyAlgorithm": "$(ref.{{ properties['name'] }}-sa-{{ key }}-key.keyAlgorithm)"
    }

- name: {{ key }}-base64-key
  value: |
    echo $(ref.{{ properties['name'] }}-sa-{{ key }}-key.privateKeyData) | base64 -D

{% endfor %}
